body {
  font: 12pt "Trebuchet MS", sans-serif; 
  margin: 50px;
}

textarea {
  font: 40.5% "Trebuchet MS", sans-serif;
}

textarea.spec {
  width: 43%;
  font-size: 12px;
  position: relative;
  top: 15px;
  left: 0px;
}

textarea.sig {
  width: 43%;
  font-size: 12px;
  position: relative;
  top: 15px;
  left: 10px;
}

/* Fixes the positioning of the icon inside a button */
span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

/* For creating the blank divs where latex code is displayed */
div.blank {
  background: #ffffff;
  font-size: 70%;
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
}

div.generateRules {
  position: absolute;
  font-size: 100%;
  float: right;
  right: 20px;
  top: 290px;
}

div.help {
  position: absolute;
  font-size: 100%;
  float: right;
  right: 55px;
  top: 340px;
}

/* For generates LaTeX logo */
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

